results/bin/air_d70_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_S.oct filter=lfs diff=lfs merge=lfs -text
results/bin/water_d25_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/water_d50_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/water_d70_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/air_d25_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/air_d50_v800_P.oct filter=lfs diff=lfs merge=lfs -text
results/bin/water_d70_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/air_d25_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/air_d50_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/air_d70_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_S.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/water_d25_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/water_d50_v800_P.ofig filter=lfs diff=lfs merge=lfs -text
results/bin/air_d50_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/air_d70_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/alucyl_d50_v800_S.png filter=lfs diff=lfs merge=lfs -text
results/bin/water_d25_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/water_d50_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/water_d70_v800_P.png filter=lfs diff=lfs merge=lfs -text
results/bin/air_d25_v800_P.png filter=lfs diff=lfs merge=lfs -text
